@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model UpdateCasherViewModel

<h2>تعديل بائع</h2>

<form asp-action="Edit" method="post" class="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />

    <div class="form-group">
        <label asp-for="CashierName" class="control-label mb-2">:اسم البائع</label>
        <input asp-for="CashierName" class="form-control mb-2" />
        <span asp-validation-for="CashierName" class="text-danger mb-2"></span>
    </div>

    <div class="form-group ">
        <label asp-for="BranchID" class="control-label mb-2">:رقم الفرع</label>
        <input asp-for="BranchID" class="form-control mb-2" />
        <span asp-validation-for="BranchID" class="text-danger mb-2"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary mb-2" />
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-2">Back to List</a>
</div>
